# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
absl-py=0.10.0=pypi_0
aif360=0.3.0=pypi_0
aioice=0.6.18=pypi_0
aiortc=0.9.28=pypi_0
altair=4.1.0=pypi_0
appdirs=1.4.4=pypi_0
appnope=0.1.0=py38h32f6830_1001
argon2-cffi=20.1.0=py38h4d0b108_1
astroid=2.4.2=pypi_0
astunparse=1.6.3=pypi_0
async_generator=1.10=py_0
attrs=20.2.0=pyh9f0ad1d_0
av=8.0.2=pypi_0
backcall=0.2.0=pyh9f0ad1d_0
backports=1.0=py_2
backports.functools_lru_cache=1.6.1=py_0
blackboxauditing=0.1.54=pypi_0
blas=1.0=mkl
bleach=3.2.1=pyh9f0ad1d_0
boto3=1.15.15=pypi_0
botocore=1.18.15=pypi_0
brotli=1.0.9=pypi_0
brotlipy=0.7.0=py38h4d0b108_1000
ca-certificates=2020.6.20=hecda079_0
cachetools=4.1.1=pypi_0
certifi=2020.6.20=py38h5347e94_2
cffi=1.14.3=py38hed5b41f_0
chardet=3.0.4=py38h32f6830_1007
click=7.1.2=pypi_0
colorama=0.4.3=pypi_0
configparser=5.0.1=pypi_0
confuse=1.3.0=pypi_0
crc32c=2.2=pypi_0
cryptography=3.1=py38h52adbb4_0
cycler=0.10.0=pypi_0
dash=1.16.3=pypi_0
dash-core-components=1.12.1=pypi_0
dash-cytoscape=0.2.0=pypi_0
dash-html-components=1.1.1=pypi_0
dash-renderer=1.8.2=pypi_0
dash-table=4.10.1=pypi_0
dataclasses=0.6=pypi_0
datasynthesizer=0.1.3=pypi_0
decorator=4.4.2=py_0
defusedxml=0.6.0=py_0
dice-ml=0.4=pypi_0
dill=0.3.2=pypi_0
distlib=0.3.1=pypi_0
docker-pycreds=0.4.0=pypi_0
docutils=0.16=pypi_0
dpcontracts=0.6.0=pypi_0
entrypoints=0.3=py38h32f6830_1001
fairlearn=0.4.6=pypi_0
filelock=3.0.12=pypi_0
flake8=3.8.4=pypi_0
flask=1.1.2=pypi_0
flask-compress=1.7.0=pypi_0
flask-socketio=4.2.1=pypi_0
forbiddenfruit=0.1.3=pypi_0
freetype=2.10.2=ha233b18_0
fsspec=0.8.4=pypi_0
future=0.18.2=pypi_0
gast=0.3.3=pypi_0
gevent=20.9.0=pypi_0
gitdb=4.0.5=pypi_0
gitpython=3.1.11=pypi_0
google-api-core=1.22.4=pypi_0
google-api-python-client=1.12.3=pypi_0
google-auth=1.22.1=pypi_0
google-auth-httplib2=0.0.4=pypi_0
google-auth-oauthlib=0.4.1=pypi_0
google-pasta=0.2.0=pypi_0
googleapis-common-protos=1.52.0=pypi_0
greenlet=0.4.17=pypi_0
grpcio=1.32.0=pypi_0
h5py=2.10.0=pypi_0
htmlmin=0.1.12=pypi_0
httplib2=0.18.1=pypi_0
idna=2.10=pypi_0
imagehash=4.1.0=pypi_0
imageio=2.9.0=pypi_0
importlib-metadata=1.7.0=py38h32f6830_0
importlib-resources=1.5.0=pypi_0
importlib_metadata=1.7.0=0
iniconfig=1.0.1=pypi_0
inotify=0.2.10=pypi_0
intel-openmp=2019.4=233
interpret=0.2.1=pypi_0
interpret-core=0.2.1=pypi_0
ipykernel=5.3.4=py38h23f93f0_0
ipython=7.18.1=py38h1cdfbd6_0
ipython_genutils=0.2.0=py_1
ipywidgets=7.5.1=pypi_0
isort=5.6.1=pypi_0
itsdangerous=1.1.0=pypi_0
jedi=0.15.2=py38_0
jeepney=0.4.3=pypi_0
jinja2=2.11.2=pyh9f0ad1d_0
jmespath=0.10.0=pypi_0
joblib=0.16.0=pypi_0
jpeg=9b=he5867d9_2
json5=0.9.5=pyh9f0ad1d_0
jsonschema=3.2.0=py38h32f6830_1
jupyter=1.0.0=pypi_0
jupyter-console=6.2.0=pypi_0
jupyter_client=6.1.7=py_0
jupyter_core=4.6.3=py38h32f6830_1
jupyterlab=2.2.8=py_0
jupyterlab_pygments=0.1.1=pyh9f0ad1d_0
jupyterlab_server=1.2.0=py_0
kafka-python=2.0.2=pypi_0
keras-preprocessing=1.1.2=pypi_0
keyring=21.4.0=pypi_0
kiwisolver=1.2.0=py38h04f5b5a_0
lazy-object-proxy=1.4.3=pypi_0
lcms2=2.11=h92f6f08_0
libcxx=10.0.0=1
libedit=3.1.20191231=h1de35cc_1
libffi=3.3=hb1e8313_2
libpng=1.6.37=ha441bb4_0
libsodium=1.0.17=h01d97ff_0
libtiff=4.1.0=hcb84e12_1
lime=0.2.0.1=pypi_0
llvmlite=0.34.0=pypi_0
loguru=0.5.3=pypi_0
lz4=3.0.2=pypi_0
lz4-c=1.9.2=hb1e8313_1
markdown=3.2.2=pypi_0
markupsafe=1.1.1=py38h4d0b108_1
matplotlib=3.3.2=pypi_0
matplotlib-base=3.3.1=py38h181983e_0
mccabe=0.6.1=pypi_0
missingno=0.4.2=pypi_0
mistune=0.8.4=py38h64e0658_1001
mkl=2019.4=233
mkl-service=2.3.0=py38hfbe908c_0
mkl_fft=1.2.0=py38hc64f4ea_0
mkl_random=1.1.1=py38h959d312_0
more-itertools=8.5.0=pypi_0
msgpack=1.0.0=pypi_0
nbclient=0.5.0=py_0
nbconvert=6.0.5=py38h32f6830_0
nbformat=5.0.7=py_0
ncurses=6.2=h0a44026_1
nest-asyncio=1.4.0=py_1
netifaces=0.10.9=pypi_0
networkx=2.5=pypi_0
nltk=3.5=pypi_0
nonechucks=0.4.0=pypi_0
nose=1.3.7=pypi_0
notebook=5.7.8=pypi_0
numba=0.51.2=pypi_0
numpy=1.19.2=pypi_0
oauth2client=4.1.3=pypi_0
oauthlib=3.1.0=pypi_0
olefile=0.46=py_0
opacus=0.9.1=pypi_0
openmined-threepio=0.2.0=pypi_0
openssl=1.1.1h=haf1e3a3_0
opt-einsum=3.3.0=pypi_0
packaging=20.4=pyh9f0ad1d_0
pandas=1.1.2=pypi_0
pandas-profiling=2.9.0=pypi_0
pandoc=2.10.1=haf1e3a3_0
pandocfilters=1.4.2=py_1
parity-fairness=0.1.30=pypi_0
parso=0.5.2=py_0
pathtools=0.1.2=pypi_0
pexpect=4.8.0=py38h32f6830_1
phe=1.4.0=pypi_0
phik=0.10.0=pypi_0
pickleshare=0.7.5=py38h32f6830_1001
pillow=7.2.0=py38ha54b6ba_0
pip=20.2.2=py38_0
pipenv=2020.8.13=pypi_0
pkginfo=1.5.0.1=pypi_0
plotly=4.11.0=pypi_0
pluggy=0.13.1=pypi_0
prometheus_client=0.8.0=pyh9f0ad1d_0
promise=2.3=pypi_0
prompt-toolkit=3.0.7=py_0
protobuf=3.13.0=pypi_0
psutil=5.7.0=pypi_0
ptyprocess=0.6.0=py_1001
py=1.9.0=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycodestyle=2.6.0=pypi_0
pycparser=2.20=pyh9f0ad1d_2
pyee=8.1.0=pypi_0
pyflakes=2.2.0=pypi_0
pygments=2.7.1=py_0
pygtail=0.11.1=pypi_0
pylibsrtp=0.6.7=pypi_0
pylint=2.6.0=pypi_0
pynacl=1.4.0=pypi_0
pyopenssl=19.1.0=py_1
pyparsing=2.4.7=pyh9f0ad1d_0
pyrouge=0.1.3=pypi_0
pyrsistent=0.17.3=py38h4d0b108_0
pyserial=3.4=pypi_0
pysocks=1.7.1=py38h32f6830_1
pytest=6.0.2=pypi_0
python=3.8.5=h26836e1_1
python-dateutil=2.8.1=py_0
python-engineio=3.13.2=pypi_0
python-socketio=4.6.0=pypi_0
python_abi=3.8=1_cp38
pytorch-lightning=1.0.4=pypi_0
pytz=2020.1=pypi_0
pywavelets=1.1.1=pypi_0
pyyaml=5.3.1=pypi_0
pyzmq=18.1.1=py38h4bf09a9_0
qtconsole=4.7.7=pypi_0
qtpy=1.9.0=pypi_0
readline=8.0=h1de35cc_0
readme-renderer=26.0=pypi_0
regex=2020.7.14=pypi_0
requests=2.24.0=pypi_0
requests-oauthlib=1.3.0=pypi_0
requests-toolbelt=0.9.1=pypi_0
restrictedpython=5.1=pypi_0
retrying=1.3.3=pypi_0
rfc3986=1.4.0=pypi_0
rouge=1.0.0=pypi_0
rsa=4.6=pypi_0
s3transfer=0.3.3=pypi_0
salib=1.3.11=pypi_0
schedule=0.6.0=pypi_0
scikit-image=0.17.2=pypi_0
scikit-learn=0.23.2=pypi_0
scipy=1.5.2=pypi_0
seaborn=0.11.0=pypi_0
secretstorage=3.1.2=pypi_0
send2trash=1.5.0=py_0
sentry-sdk=0.19.1=pypi_0
setuptools=49.6.0=py38_0
shaloop=0.2.1-alpha.11=pypi_0
shap=0.36.0=pypi_0
shortuuid=1.0.1=pypi_0
six=1.15.0=pyh9f0ad1d_0
sklearn=0.0=pypi_0
slicer=0.0.4=pypi_0
smmap=3.0.4=pypi_0
sqlite=3.33.0=hffcf06c_0
sqlitedict=1.7.0=pypi_0
subprocess32=3.5.4=pypi_0
syft=0.2.9=pypi_0
syft-proto=0.5.3=pypi_0
tangled-up-in-unicode=0.0.6=pypi_0
tblib=1.6.0=pypi_0
tensorboard=2.3.0=pypi_0
tensorboard-plugin-wit=1.7.0=pypi_0
tensorflow=2.3.1=pypi_0
tensorflow-estimator=2.3.0=pypi_0
termcolor=1.1.0=pypi_0
terminado=0.9.1=py38h32f6830_0
testpath=0.4.4=py_0
threadpoolctl=2.1.0=pypi_0
tifffile=2020.10.1=pypi_0
tk=8.6.10=hb0a8c7a_0
toml=0.10.1=pypi_0
toolz=0.11.1=pypi_0
torch=1.6.0=pypi_0
torchcsprng=0.1.2=pypi_0
torchvision=0.7.0=pypi_0
tornado=4.5.3=pypi_0
tqdm=4.49.0=pypi_0
traitlets=5.0.4=py_0
treeinterpreter=0.2.2=pypi_0
twine=3.2.0=pypi_0
typeguard=2.10.0=pypi_0
typing-extensions=3.7.4.3=pypi_0
uritemplate=3.0.1=pypi_0
urllib3=1.25.10=py_0
virtualenv=20.0.35=pypi_0
virtualenv-clone=0.5.4=pypi_0
visions=0.5.0=pypi_0
wandb=0.10.8=pypi_0
watchdog=0.10.3=pypi_0
wcwidth=0.2.5=pyh9f0ad1d_1
webencodings=0.5.1=py_1
websocket-client=0.57.0=pypi_0
websockets=8.1=pypi_0
werkzeug=1.0.1=pypi_0
wget=3.2=pypi_0
wheel=0.35.1=py_0
widgetsnbextension=3.5.1=pypi_0
witwidget=1.7.0=pypi_0
wrapt=1.12.1=pypi_0
xz=5.2.5=h1de35cc_0
zeromq=4.3.2=h6de7cb9_2
zipp=3.1.0=py_0
zlib=1.2.11=h1de35cc_3
zope-event=4.5.0=pypi_0
zope-interface=5.1.2=pypi_0
zstd=1.4.5=h41d2c2f_0
